<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown" th:if="${session.user != null}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"> <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">消息中心</a></li>
            <li><a href="#">个人资料</a></li>
            <li><a href="#">退出登录</a></li>
        </ul>
    </li>
    <li th:if="${session.user == null}">
        <a href="https://github.com/login/oauth/authorize?client_id=Iv1.8d4342bf03771eff&redirect_uri=http://localhost:8888/callback&scope=user&state=1">dl</a>
    </li>
</ul>

</body>
</html>